@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(45deg, lightpink, lightyellow, pink);
    height: 100vh;
}

.app{
    width: 400px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 14px;
    box-shadow: 0px 8px 20px grey;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 400px) {
    .app{
        width: 95%;
    }
}

.app h1{
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.question{
    padding: 20px 0;
}

.btns{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ansBtn{
    padding: 8px;
    background: none;
    border-radius: 6px;
    padding: 10px;
    text-align: start;
    font-size: 16px;
    border: 1px solid lightgray;
    cursor: pointer;
    color: black;
}

.ansBtn:hover:not([disabled]){
    background-color: rgba(211, 211, 211, 0.3);
}

.nextBtn{
    float: right;
    margin-top: 20px;
    padding: 8px 32px;
    background-color: pink;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}

.btns img{
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
}

.credit{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 14px ;
    font-weight: bold;
}
.credit a{
    color: rgb(61, 61, 61);
}
